

<% unless voted %>

<%= form_for(@user_vote, url: {:action=>"create", :controller=>"user_votes", :match_id => "#{params[:id]}"}) do |f| %>
  <%= f.label :vote %>
  <%= f.select(:vote, options_for_select([['none', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5] ]) )  %> 

   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%else%>
  Your rate for this match is <%=voted%>
<%end%>
