<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @match.host %>
</p>

<p>
  <strong>Host score:</strong>
  <%= @match.host_score %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @match.guest %>
</p>

<p>
  <strong>Guest score:</strong>
  <%= @match.guest_score %>
</p>

<p>
  <strong>Day:</strong>
  <%= @match.day %>
</p>

<p>
  <strong>Description:</strong>
  <%= @match.description %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @match.voted %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @match.rating.to_f.round(2) %>
</p>



<%for photo in @match.photos%>
  
  <%= image_tag photo.image_url(:thumb).to_s%>

<%end%>

  <% if user_signed_in? %>
    <%= link_to 'Add photo to match', new_match_photo_path(@match) %>
    
    <%= link_to 'Edit', edit_match_path(@match) %> |
<%end%>
<%= link_to 'Back', matches_path %>
<hr>
<div class = "well col-md-3" >
  <%= render "rating"%>
</div>


