<!DOCTYPE html>
<html>
<head>
  <title>Champ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-body">
     | <%= link_to "Home", :root %> |
         
         <% if user_signed_in? %>
          <%= link_to "Add new match", new_match_path %> |
           <p class="text-right">    
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </p>
        <% else %>
          <p class="text-right"> 
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
          </p>
        <% end %>
      

    </div>
  </div>
 
      <div class = "container ">
        <div class = "row">     
      <div class = "col-xs-9">
          <%= yield %>
          </div>
      
          <div class = "col-xs-3">
    <div class="panel panel-default">
      <div class = "panel-heading"> Recently added matches </div>
      <div class = "panel-body">
        <%= render 'recent'%>
        </div>
      </div>
    </div>
    </div>

   
 </body>
</html>
